{{! 
Це код container файлу для car сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - '/car'
}}
<div>
    <section>
        <div class='card'>
            <div class='card-body'>
                <h1 class='card-title'>{{make}}</h1>
                <h2 class='card-subtitle mb-2 text-body-secondary'>{{model}}</h2>
                <b class='card-text'>{{year}} {{color}}</b>
            </div>
    </section>
</div>
<div>
    <section>
        <div class='card'>
            <h3 class='card-header'>
                Features
            </h3>
            <ul class='list-group list-group-flush'>
                <h4 class='list-group-item'>Interior</h4>
                <ul>
                    <h5 class='row'>Seats:</h5>
                    <br>
                    <ul>
                    <dl class='row'>
                        <dt class='col-sm-3'>Material</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.interior.seats.material}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Color</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.interior.seats.color}}</p>
                            <b>{{#if features.interior.seats.heated includeZero=true}} Heated {{/if}}</b>
                            <b>{{#if features.interior.seats.ventilated includeZero=true}} Ventilated {{/if}}</b>
                        </dd>
                    </dl>    
                    </ul>        
                </ul>
                <hr>
                <ul>
                    <h5 class='row'>Dashboard:</h5>
                    <br>
                    <ul>
                        <dl class='row'>
                            <dt class='col-sm-3'>Material</dt>
                            <dd class='col-sm-9'>
                                 <p>{{features.interior.dashboard.material}}</p>
                            </dd>
                            <br>
                            <dt class='col-sm-3'>Color</dt>
                            <dd class='col-sm-9'>
                                <p>{{features.interior.dashboard.color}}</p>
                            </dd>
                            <br>
                            <dt class='col-sm-3'>Display</dt>
                            <dd class='col-sm-9'>
                                {{#with features}}
                                     <p>{{interior.dashboard.display.type}}</p>
                                     <p>{{interior.dashboard.display.size}}</p>
                                     <p>{{interior.dashboard.display.resolution}}</p>
                                     <b>{{#if interior.dashboard.display.touchscreen includeZero=true}} Touchscreen {{/if}}</b>
                                {{/with}}	
                            </dd>
                            <br>
                            <dt class='col-sm-3'>Audio</dt>
                            <dd class='col-sm-9'>
                                {{#with features}}
                                    <p>{{interior.audio.system}}</p>
                                    <p>{{interior.audio.speakers}} speakers</p>
                                    <b>{{#if interior.audio.subwoofer includeZero=true}} Subwoofer {{/if}}</b>
                                    <b>{{#if interior.audio.bluetooth includeZero=true}} Bluetooth {{/if}}</b>
                                    <b>{{#if interior.audio.USB includeZero=true}} USB {{/if}}</b>
                                {{/with}}	
                            </dd>    
                        </dl>    
                    </ul>        
                </ul>
            </ul>
        </ul>
        <ul class='list-group list-group-flush'>
            <h4 class='list-group-item'>Exterior</h4>
            <ul>
                <h5 class='row'>Wheels:</h5>
            <br>
                <ul>
                    <dl class='row'>
                        <dt class='col-sm-3'>Size</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.wheels.size}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Type</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.wheels.type}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Color</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.wheels.color}}</p>
                        </dd>
                    </dl>    
                </ul>        
            </ul>
            <ul>
            <h5 class='row'>Headlights:</h5>
            <br>
                <ul>
                    <dl class='row'>
                        <dt class='col-sm-3'>Type</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.headlights.type}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Brightness</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.headlights.brightness}}</p>
                        </dd>
                        <ul>
                            <ul>
                                <b>{{#if features.exterior.headlights.automatic includeZero=true}} Automatic {{/if}}</b>
                            </ul>
                        </ul>
                    </dl>    
                </ul>        
            </ul>
            <ul>
                <h5 class='row'>Sunroof:</h5>
                <br>
                <ul>
                    <dl class='row'>
                        <dt class='col-sm-3'>Type</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.sunroof.type}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Size</dt>
                        <dd class='col-sm-9'>
                            <p>{{features.exterior.sunroof.size}}</p>
                        </dd>
                        <br>
                        <ul>
                            <ul>
                                <b>{{#if features.exterior.sunroof.automatic includeZero=true}} Automatic {{/if}}</b>
                            </ul>
                        </ul>
                        <br>
                        </ul>
                        </ul>
                            <class='list-group list-group-flush'>
                                <h4 class='list-group-item'>Safety</h4>
                            <ul>
                                <br>
                                <ul>
                                    <dt class='col-sm-3'>Airbags:</dt>
                                    <dd class='col-sm-9'>
                                        <ul>
                                        {{#with features}}
                                            <li>front {{safety.airbags.front}}</li>
                                            <li>side {{safety.airbags.side}}</li>
                                            <li>knee {{safety.airbags.knee}}</li>
                                            <li>rear {{safety.airbags.rear}}</li>
                                        {{/with}}	
                                        </ul>
                                    </dd>
                                    <br>
                                    <dt class='col-sm-3'>Assistance</dt>
                                    <ul>
                                        <dd class='col-sm-9'>
                                            <li>{{#if features.safety.assistance.blind_spot_monitoring includeZero=true}} Blind spot monitoring {{/if}}</li>
                                        <br>
                                            <li>{{#if features.safety.assistance.rear_cross_traffic_alert includeZero=true}} Rear cross traffic alert {{/if}}</li>
                                        <br>
                                            <li>{{#if features.safety.assistance.lane_departure_warning includeZero=true}} Lane departure warning {{/if}}</li>
                                        <br>
                                            <li>{{#if features.safety.assistance.adaptive_cruise_control includeZero=true}} Adaptive cruise control {{/if}}</li>
                                        <br>
                                            <li>{{#if features.safety.assistance.collision_warning includeZero=true}} Collision warning {{/if}}</li>
                                        </dd>    
                                    </dl>
                                </ul>
                            </ul>
                        </ul>
                    </ul>        
                </ul>
            </ul>
        </ul>
    </section>
</div>
<div>
    <section>
        <div class='card'>
            <div class='list-group list-group-flush'>
                <h3 class='card-header'>Engine</h3>
            </div>
            <br>
            <ul>
                <dl class='row'>
                    <dt class='col-sm-3'>Type</dt>
                    <dd class='col-sm-9'>
                        <p>{{engine.type}}</p>
                    </dd>
                    <br>
                    <dt class='col-sm-3'>Displacement</dt>
                    <dd class='col-sm-9'>
                        <p>{{engine.displacement}}</p>
                    <dt class='col-sm-3'>Horsepower</dt>
                    <dd class='col-sm-9'>
                        <p>{{engine.horsepower}}</p>
                    </dd>
                    <br>
                    <dt class='col-sm-3'>Torque</dt>
                    <dd class='col-sm-9'>
                        <p>{{engine.torque}}</p>
                    <br>
                    <dt class='col-sm-3'>Transmission type</dt>
                    <dd class='col-sm-9'>
                        <p>{{engine.transmission.type}}</p>
                    <br>
                    <dt class='col-sm-3'>Transmission gears</dt>
                    <dd class='col-sm-9'>
                        <p>{{engine.transmission.gears}}</p>
                    </dd>
                </dl>  
            </ul> 
        </div>             
    </section>    
</div>    
<div>
    <section>
        <div class='card'>
            <ul class='list-group list-group-flush'>
                <h3 class='card-header'>Fuel economy</h3>
                <ul>
                <br>
                    <ul>
                    <dl class='row'>
                        <dt class='col-sm-3'>City</dt>
                        <dd class='col-sm-9'>
                            <p>{{fuel_economy.city}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Highway</dt>
                        <dd class='col-sm-9'>
                            <p>{{fuel_economy.highway}}</p>
                        <dt class='col-sm-3'>Combined</dt>
                        <dd class='col-sm-9'>
                            <p>{{fuel_economy.combined}}</p>
                        </dd>
                    </dl> 
                </ul>       
            </ul>        
        </div>
    </section>
</div>    
<div>
    <section>
        <div class='card'>        
         <ul class='list-group list-group-flush'>
            <h3 class='card-header'>Price</h3>
            <ul>
                <br>
                <ul>
                    <dl class='row'>
                        <dt class='col-sm-3'>Base</dt>
                        <dd class='col-sm-9'>
                            <p>{{price.base}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Destination</dt>
                        <dd class='col-sm-9'>
                            <p>{{price.destination}}</p>
                        </dd>
                        <br>
                        <dt class='col-sm-3'>Navigation</dt>
                        <dd class='col-sm-9'>
                            <p>{{price.options.navigation}}</p>
                        <dt class='col-sm-3'>Moonroof</dt>
                        <dd class='col-sm-9'>
                            <p>{{price.options.moonroof}}</p>
                        </dd>
                        <dt class='col-sm-3'>Premium paint</dt>
                        <dd class='col-sm-9'>
                            <p>{{price.options.premium_paint}}</p>
                        </dd>
                    </dl> 
                </ul>
            </ul>  
        </ul>
            <h3 class='list-group-item list-group-item-action list-group-item-success'>Total: {{price.total}}</h3>
    </section>
</div>  

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}