{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - '/program'
}}

<div>
	{{#with program}}
		<main>
			{{#with excursion}}
				<section>
					<h1>{{ name }}</h1>
					<p><strong>Location:</strong> {{ location.city }}, {{ location.country }}</p>
					<p><strong>Date:</strong> {{ date }}</p>
				</section>
				<section>
					<h2>Program:</h2>
				</section>
				<ul>
					{{#each program}}
						<li>
							<section>
								<h3>{{ name }}</h3>
								<p><strong>Type:</strong> {{ type }}</p>
								<p><strong>Duration:</strong> {{ duration }} hours</p>
								{{#with details}}
									{{#if museum}}
										<h4>Museum Details:</h4>
										{{#with museum}}
											<p><strong>Museum:</strong> {{ name }}</p>
											<p><strong>Address:</strong> {{ location.address }}, {{ location.city }}, {{ location.country }}</p>
											<br>
											<h5>Exhibits:</h5>
											<ul>
												{{#each exhibits}}
													<li>
														<h6>{{ name }}</h6>
														<p><strong>Artist:</strong> {{#if artist}}{{ artist }}{{else}}Unknown{{/if}}</p>
														<p><strong>Description:</strong> {{ description }}</p>
														<p><strong>Audio Guide:</strong> {{#if audio_guide}}Yes{{else}}No{{/if}}</p>
													</li>
												{{/each}}
											</ul>	
										{{/with}}		
										<br>
										<h5>Guide:</h5>
										{{#with guide}}
											<p><strong>Name:</strong> {{ name }}</p>
											<p><strong>Language:</strong> {{ language }}</p>
											<p><strong>Rating:</strong> {{ rating }}</p>
										{{/with}}
									{{/if}}
								{{/with}}
							</section>
							<section>
								{{#with details}}
									{{#if venue}}
										<h4>Venue Details:</h4>
										{{#with venue}}
											<p><strong>Venue:</strong> {{ name }}</p>
											<p><strong>Address:</strong> {{ location.address }}, {{ location.city }}, {{ location.country }}</p>
										{{/with}}
										<br>
										<h5>Performers:</h5>
										<ul>
											{{#each performers}}
												<li>
													<h6>{{ name }}</h6>
													<p><strong>Type:</strong> {{ type }}</p>
												</li>
											{{/each}}
										</ul>
										<br>
										<h5>Guide:</h5>
										{{#with guide}}
											<p><strong>Name:</strong> {{ name }}</p>
											<p><strong>Language:</strong> {{ language }}</p>
											<p><strong>Rating:</strong> {{ rating }}</p>
										{{/with}}
									{{/if}}
								{{/with}}	
							</section>	
						</li>
						<hr>
					{{/each}}
				</ul>	
			{{/with}}	
		</main>
	{{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}