{{! 
Це код container файлу для shopcart сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - '/shopcart'
}}
<main>
    <div class='row gy-2'>
        <section class='col-12'>
            <div class='card'>
                {{#with navigation}}
                    <div>
                        <ul class='nav pb-3 pt-3'>
                            <li class='nav-item'>
                                {{#each links}}
                                    <li class='nav-item'>
                                        <a
                                        class='nav-link'
                                        href='{{href}}'
                                        ><b>{{text}}</b></a>
                                    </li>
                                {{/each}}
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link disabled'>Disabled</a>
                            </li>
                        </ul>
                    </div>
                {{/with}}
            </div>
        </section>
        <section class='col-12'>
            {{#with header}}
                <div class='text pt-3 pb-3'>
                    <h1>{{title}}</h1>
                </div>
                <div>
                    {{#with button}}
                        <a href={{link}} 
                            class='btn btn-outline-secondary mb-3'>
                            <strong>{{text}}</strong>
                        </a>
                     {{/with}}
                </div>
            {{/with}}
        </section>
        <hr>
        <section class='col-12'>
            {{#each goodsBlock}}
                {{> cartGoodsItem}}

                {{#with price}}
                {{/with}}     
                
                {{#each buttons}} 
                {{/each}}
            
            {{/each}}
        </section>
        <hr>
        <section>
             {{#with total}}
                <div class='text pt-3 pb-3'>
                    <p class='h2'>{{title}}</p>
                </div>
                <div>
                    <h1 class='display-4'><strong>{{amount}}</strong></h1>
                </div>
                <div>
                    <p class='fs-5 mt-3'>{{delivery}}</p>
                </div>
                <div>
                    {{#each buttons}}
                        <div class='flex-column mt-4 mb-2'>
                            <button class='btn      
                                {{#if isSuccess}} btn-success {{/if}}
                                {{#if isOutline}} btn-outline-success {{/if}}' 
                                type='button'><strong>{{text}}</strong>
                            </button>
                        </div>
                     {{/each}}
                </div>
            {{/with}}  
        </section>
        <hr>
        <section class='col-12'>
            {{#with goodsOtherBlock}}
                <div class='row g-2'>
                    {{#each cards}}
                        <div class='col-4'>
                            <div class='card mx-1 my-3'>
                                <img class='card-img-top' src='{{image}}'>
                                <div class='card-body'>
                                    <h4 class='card-title'>{{title}}
                                        {{#if isHot}}
                                        <span
                                            class='badge rounded-pill text-bg-warning text-light fs-6 text-uppercase m-1'
                                        >Популярне!
                                        </span>
                                        {{/if}}
                                        {{#if idNew}}
                                        <span
                                            class='badge rounded-pill text-bg-primary fs-6 m-1'
                                        >Нове
                                        </span>
                                        {{/if}}
                                    </h4>
                                    <div>
                                        <p class='card-text'>{{description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
        </section>
        <hr>
        <section class='col-12 mb-3'>
            {{#with subscribe}}
                <div class='card mt-3 mb-3'>
                    <div class='card text-bg-dark'>
                        <div class='card-body'>
                            <h2 class='card-title pb-3'>{{header}}</h2>
                            <p class='card-text pb-3'>{{description}}</p>
                            {{#each buttons}}
                                <div class='col-3 pb-2'>
                                    <a
                                        href='{{link}}'
                                        class='btn btn-primary mt-3 py-2'
                                    >{{text}}</a>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/with}}
        </section>
        <hr>
        <section class='col-12'>
            <div class='nav'>
                {{#each footer}}
                    <div class='row'>
                        <div class='col-1 g-2'>
                            {{#each this}}
                                <div class='nav flex-column'>
                                    <div class='nav-item fw-semibold'>
                                        <a
                                        class='nav-link  {{#if @last}} disabled {{/if}}'
                                        href='{{link}}'
                                        >{{text}}</a>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
</main>

{{!-- 
	Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
	Адже наш layout/default.hbs має вже структуру HTML
--}}